<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Testing Online</title>
</head>
<body>
	<h2>Heloo ung vien</h2>
	<div class="container" style="margin-top: 50px;">
		<div class="row"
			style="border: 1px darkgrey solid; border-radius: 10px; width: 50%; margin: 0 auto; padding: 20px;">
			<div class="col-sm-12">
				<h3>HELLO</h3>
				<form action="/jointest" method="post">
					<div class="form-group">
						<label>Nhap code test</label> <input type="text"
							class="form-control" name="code" placeholder="Enter CodeTest">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-primary">Cancel</button>
					<p style="margin: 10px; font-size: 16px;">
						<a href="/login">Login with Staff</a>
					</p>
				</form>
			</div>
		</div>
	</div>
</body>
</html>